extends layout

block content
    #canvas-container
    #toolbar
        #settings
            button(data-action='circles') Circles
        #actions
            button(data-action='')
                i.fa.fa-recycle
            button(data-action='')
                i.fa.fa-video-camera
            button(data-action='')
                i.fa.fa-undo
            button(data-action='')
                i.fa.fa-repeat
            button(data-action='')
                i.fa.fa-share
            button(data-action='')
                i.fa.fa-user
    #form-container.hide
        // the id of the modal matches the data-action of the toolbar buttons
        #circles.modal.hide
            .banner
                button.closeButton
                    i.fa.fa-times
            form
                h3 Circles Plugin
    