doctype html
html
    head
        title= `${title}`
        meta(name='viewport' content='width=device-width')
        link(rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css')
        link(rel='stylesheet' href='style.css')
    body
        block content
        script(src='https://code.jquery.com/jquery-3.5.1.slim.min.js' integrity='sha256-4+XzXVhsDmqanXGHaHvgh1gMQKX40OUvDEBTu8JcmNs=' crossorigin='anonymous')
        script(type='text/javascript' src='modules/history.js')
        script(type='text/javascript' src='app.js')
